:root {
    --card-width: calc(241px * 1);
    --card-height: calc(329px * 1);
}

.App {
    min-width: 100vw;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    opacity: 0 !important;
}